[submodule "Projecto1-Construcao-de-uma-pipline-para-analise-de-logs-de-servidores-web"]
	path = Projecto1-Construcao-de-uma-pipline-para-analise-de-logs-de-servidores-web
	url = https://github.com/kingsonPaxe/Projecto1-Construcao-de-uma-pipline-para-analise-de-logs-de-servidores-web.git
